.chart_table {



    &_header {
        display: flex;
        justify-content: space-between;
        padding: 2em;

        .title {
            color: rgb(15, 93, 238);
            font-weight: bold;
            font-size: 1.3rem;
        }

        .changes {

            span {
                font-weight: bold;

                &:first-child {
                    margin-right: 1rem;
                }

                span.price {
                    margin-left: 0.5rem;
                    color: rgb(17, 138, 252);

                }

                span.percentage {
                    margin-left: 0.5rem;
                    color: red;

                }

                span.percentage.green {
                    margin-left: 0.5rem;
                    color: rgb(27, 133, 68);

                }
            }
        }
    }

    &_table {
        padding-bottom: 4rem;

        .lineCart {
            width: 88%;
            margin: 0 auto;
        }
    }
}