@import '../../scss/util';
@import '../../scss/globals';

.exchanges {
    flex: 0.8 1;
    width: 100%;
    background-color: rgb(240, 242, 245);

    &_container {
        padding: 2.5rem;

        .exchanges_header {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 1rem 0rem;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            position: sticky;
            top: 10px;
            z-index: 1;
            height: 55px;
            color: white;
            background-color: rgb(0, 21, 41);

            p {
                text-align: center;
            }
        }

        .accordion {
            // border: 1px solid black;
            margin-top: 2rem;
            position: relative;
            transition: 0.4s ease;

            &-item {
                border-bottom: 1px solid gray;
                margin-bottom: 2rem;
                background-color: rgba(204, 204, 204, 0.356);


                .accordion-title {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    justify-items: center;
                    align-items: center;
                    padding: 1rem 0rem;
                    background-color: rgb(211, 211, 211);
                    cursor: pointer;

                    .title_name {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 100px 1fr 1fr;
                        justify-items: center;
                        align-items: center;

                        span {
                            font-weight: bold;
                            color: rgb(5, 5, 170);
                        }

                        img {
                            width: 35px;
                            margin: 0rem 1rem;

                        }
                    }

                    .icon_box {
                        padding: .2rem;
                        position: absolute;



                        .icon_open {
                            font-size: 1.3rem;
                            color: rgb(11, 156, 76);
                        }

                        .icon_close {
                            font-size: 1.3rem;
                            color: rgb(156, 21, 11);
                        }
                    }

                    p {
                        font-weight: bold;
                        color: rgb(5, 5, 170);
                    }
                }

                .accordion-content {
                    overflow: hidden;
                    max-height: 1000px;
                    transition: max-height 1s ease-in-out;

                    p {
                        word-break: break-all;
                        padding: 1rem 1rem;
                        line-height: 1.8;

                        a {
                            color: red;
                            cursor: pointer;

                            font-weight: bold;

                            transition: all 0.1s ease;

                            &:hover {
                                color: indigo;
                            }
                        }
                    }

                    h3 {
                        font-weight: bold;
                        letter-spacing: 1.5px;
                        padding: 1rem 1rem;
                    }
                }

                .accordion-content.animate {
                    max-height: 0px;
                    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
                }
            }
        }
    }
}