.newsLink {
    display: flex;
    justify-content: space-between;

    .left {
        // border: 1px solid red;
        padding: 2.5rem 0rem;
        padding-right: 1.5rem;
        flex: 1;
    }

    .right {
        // border: 1px solid rgb(166, 255, 0);
        padding: 2.5rem 0rem;
        padding-left: 1.5rem;
        flex: 1;

        .links {
            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 1.3rem 1rem;
                    border-bottom: 1px solid rgb(217, 217, 217);
                    cursor: pointer;
                    transition: .5s ease;

                    .crypto_name {
                        text-transform: capitalize;
                    }

                    .crypto_url {
                        color: rgb(0, 113, 189);
                        font-weight: bolder;
                        letter-spacing: 1.5px;
                        text-transform: capitalize;
                    }

                    &:hover {

                        background-color: #d0d6da;


                    }
                }
            }
        }
    }

    //general css for both of side
    .box {
        .title {
            color: rgb(0, 113, 189);
            cursor: default;
            padding-bottom: 2rem;
        }

        p {
            padding-bottom: 1rem;
            color: rgb(109, 107, 100);
            line-height: 1.5;

            a {
                color: rgb(235, 15, 15);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                padding: 0rem 0.5rem;
                transition: .5s ease-in-out;

                &:hover {
                    color: rgb(22, 6, 168);
                }
            }
        }

        h3 {
            font-family: monospace;
            font-size: 1.4rem;
            padding-bottom: 1rem;
            font-weight: 100;
        }


    }
}