@import '../../scss/util';
@import '../../scss/globals';

.single_crypto {
    width: 100%;
    flex: 0.8 1;
    background-color: rgb(240, 242, 245);

    &_container {
        padding: 1.5rem 2.3rem;

        .single_crypto_header {
            text-align: center;
            border-bottom: 1px solid rgb(217, 217, 217);

            h2 {
                font-size: 30px;
                color: var(--pink);
                padding: 1.5rem 0rem;
                font-weight: bold;
            }

            p {
                padding-bottom: 2rem;
                color: rgba(0, 0, 0, 0.85);
                font-weight: 500;
            }
        }

        .single_crypto_select {
            text-align: center;

            .chartdays {
                color: black;
                border: none;
                cursor: pointer;
                background-color: rgb(238, 238, 238);
                padding: 5px;
                border-radius: 5px;
                width: 110px;

                &:focus {
                    outline: none;
                }

                &:hover {
                    /* background-color:red; */
                }

                option {

                    font-weight: normal;
                    display: block;
                    white-space: nowrap;
                    min-height: 1.2em;
                    padding: 0px 2px 1px
                }
            }
        }
    }
}