@import '../../scss/util';
@import '../../scss/globals';

.favourites_content {
    background-color: rgb(240, 242, 245);
    width: 100%;
    flex: 0.8 1;


    .container {
        border: 1px solid rgb(53, 53, 53);
        width: 900px;
        margin: 2rem auto;
        padding: 2rem 2rem;
        position: relative;

        .alert_box {
            width: 200px;
            background-color: rgb(216, 213, 213);
            padding: 1rem;
            position: absolute;
            top: -40px;
            left: 50%;
            right: 50%;
            transform: translateX(-50%);
            text-align: center;

            .red {
                color: rgb(243, 10, 10);
                font-weight: bold;
            }
        }

        .alert_box.show {
            top: 0px;
            transition: .7s linear;

        }

        .header {
            display: flex;
            justify-content: space-between;

            .clear_all.btn {
                font-weight: bold;
                border: none;
                color: red;
            }

            .link.btn {
                font-weight: bold;
                color: black;
            }

            .btn {
                background-color: transparent;
                outline: none;
                padding: 7px 9px;
                color: rgb(253, 209, 209);
                border-radius: 20px;
                cursor: pointer;
                transition: 0.4s ease;


                &:hover {
                    transform: scale(.90);
                }

                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }

        .empty {
            color: rgb(22, 8, 8);
            font-size: 2rem;
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;

            span {

                .icon {
                    // background-color: rgb(238, 34, 34);
                    margin-left: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .favourite_cards {
            .card {
                margin-top: 3rem;
                margin-bottom: 2rem;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                background-color: rgb(221, 219, 219);
                justify-items: center;
                align-items: center;
                padding: 1.1rem 0;
                padding-left: 1rem;
                font-size: .9rem;
                color: rgb(72, 72, 211);
                font-weight: bold;


                .cardName {
                    justify-self: flex-start;
                }

                .change.red {
                    color: rgb(238, 34, 34);
                }

                .change.green {
                    color: rgb(15, 156, 74);
                }

                .delete_btn {
                    cursor: pointer;
                    transition: .5s ease;
                    color: rgb(37, 4, 75);
                    color: rgb(8, 2, 2);

                    &:hover {
                        &:hover {
                            transform: scale(.90);
                        }
                    }
                }

                .details_btn {
                    background-color: transparent;
                    outline: none;
                    padding: 5px 7px;
                    color: rgb(22, 8, 8);
                    border-radius: 20px;
                    cursor: pointer;
                    transition: 0.4s ease;
                    border: none;
                    font-weight: bold;

                    &:hover {
                        transform: scale(.90);
                    }

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }

            }


        }

    }
}