   .home_news_content {
       display: grid;
       grid-gap: 2rem;
       grid-template-columns: repeat(3, 1fr);
       justify-items: center;

       .card {
           background-color: rgb(252, 252, 252);
           width: 450px;
           padding: 1.5rem 1.5rem;
           border-radius: 20px;
           transition: .6s ease-out;

           &:hover {
               cursor: pointer;
               transform: translateY(-10px);
               box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
               border-radius: 0px;
           }



           &_header {
               display: flex;
               align-items: center;
               border-bottom: 1px solid rgb(12, 12, 12);
               padding-bottom: 15px;

               &_name {
                   font-size: 14px;
                   font-weight: bold;
                   letter-spacing: 2px;
                   color: darkblue;
                   line-height: 1.5;
                   margin-right: 2rem;
                   word-break: break-all;
               }

               &_image {
                   img {
                       width: 55px;
                       border-radius: 5px;
                   }
               }
           }

           &_desc {
               padding-top: 1.5rem;
               padding-bottom: .5rem;

               p {
                   line-height: 1.5;
                   padding: 1rem 0rem;
                   word-break: break-all;
               }

           }

           &_footer {
               .left {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;

                   img {
                       width: 45px;
                   }

                   p {
                       color: rgb(255, 47, 40);
                       font-weight: bold;
                   }
               }

               .right {
                   text-align: center;
                   font-weight: bold;

                   .timestamp {}
               }
           }
       }
   }